.career-header{
    height: 120px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.career-header p{
    color : #CB001A;
    font-size: 25px;
    display: inline-block;
    margin-top: 45px;
    font-weight: 300;
}
.career-content{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin-top: 30px;
    line-height: 35px;
    font-size: 16px;
    margin-bottom: 200px
}
.text-header-career{
    font-size: 20px;
    color: #CB001A
}
.career-title{
    background-color: #f4f4f4;
    padding: 8px 30px;
    margin-bottom: 20px;
    border-radius: 10px
}
.career-title::after{
    content: '>';
    float: right;
    color: #192a56;
    font-weight: 700;
    transform: rotate(90deg)
}
.career-title:hover{
    font-size: 18px;
    cursor: pointer;
    color : #fff;
    background-color: #192a56
}
.career-title:hover::after{
    content: '>';
    float: right;
    color: #fff;
    font-weight: 700;
    transform: rotate(90deg)
}

.career-title-on{
    background-color: #192a56;
    color : #fff;
    padding: 8px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.career-title-on::after{
    content: '>';
    float: right;
    color: #fff;
    font-weight: 700;
    transform: rotate(-90deg)
}
.career-info-off{
   display: none 
}
.career-info-on{
    display: block;
    list-style: none;
}


@media (max-width: 766px){
    .career-content{
        font-size: 14px
    }
    .career-title:hover{
        font-size: 16px;
    }
    .career-header p{
        font-size: 22px;
        margin-top: 35px
    }
}
@media (max-width: 576px){
    .career-content{
        font-size: 12px
    }
    .career-title:hover{
        font-size: 14px;
    }
}