.separator-container{
    /* margin-top: 20px; */
    height: 120px;
    background-color: #192a56;
    font-family: 'Roboto', sans-serif;
}
.separator-container p{
    color : #fff;
    font-size: 25px;
    display: inline-block;
    margin-top: 30px;
    font-weight: 300;
}

@media (max-width: 900px){
    .separator-container p{
        font-size: 20px
    }
}
@media (max-width: 766px){
    .separator-container p{
        font-size: 16px;
        margin-top: 22px
    }
    .separator-container{
        height: 90px;
    }   
}